li {
  margin: 5px 0;
  list-style: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 10em;
}
li:hover {
  background-color: #537796;
  cursor: pointer;
  color: white;
}
