td > a {
  background-color: blue;
  color: white;
  border: 1px solid darkblue;
  border-radius: 6px;
  padding: 5px;
  display: block;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 30%;
  margin: 10px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

h2 {
  text-align: center;
}
